.mjs_hints_container{ position: fixed; top: 0; left: 0; width: auto; z-index:30;}
.mjs_hints_container .mjs_hint {float:left; clear:left; margin: 8px; color: #333; font-weight: bold; font-size: 14px; padding: 5px; border-radius: 3px;}
.mjs_hints_container .mjs_hint.mjs_hint_success { background-color: #cfc;}
.mjs_hints_container .mjs_hint.mjs_hint_error { background-color: #fcc;}
.mjs_hints_container .mjs_hint.mjs_hint_simple { background-color: #ccf;}
.m_incorrect {border: 1px solid #f33 !important;}
.m_disable_cont {position: relative}
.m_disable_layer {position:absolute; top: 0; left: 0; width:100%; height: 100%; display:none;}
.m_owhite{background-color: #fff; opacity: 0.5;}
.mjs_ajax_shadow{position:fixed; width:100%; height:100%; top:0; left: 0; z-index:1000; background-color:#000; opacity:0.6; display:none;}

